<%- include("./partials/header")%>


<div class="container">
 <div class="place">
<img src="<%=camp.url%>" alt="photo"> 
     <div class="about">
        <h1><%=camp.place%></h1><br>
        <span><%=camp.desc%></span>
     </div>
 </div>
<div class="submittedBy">submitted by <span><%=camp.user.username%></span></div>

<%
if(!!currentUser){
 
    var loggedUserId=currentUser._id;
    var campUserId=camp.user._id;
     if(campUserId.equals(loggedUserId)){%>
      <div class="alter">
       <div class="edit">  <a href="/campground/edit/<%=camp._id%>">Edit</a> </div>
       <div class="delete">  <a href="/campground/delete/<%=camp._id%>">Delete</a> </div>   
      </div>
 <%  }
   }%>

 <hr>
<div class="commentList">
<%camp.comment.forEach((comBody)=>{%>

<div class="comment">
        <div id="time">10 days</div>
         <div class="commentBody"><%=comBody.comment%></div> 
         <div class="com-bottom">
<span>_<%=comBody.user.username%></span> 

<%if(!!currentUser&&currentUser._id.equals(comBody.user._id)){%>


<span class="com-delete"><a href="/comment/delete/<%=comBody._id%>">Delete</a></span>
<span class="com-edit"><a href="/comment/camp/<%=camp._id%>/edit/<%=comBody._id%>">Edit</a></span>
<%}%>
</div>
</div>


<%})%>
</div>




<%if(!!currentUser){%>
    <form action="/comment/add/<%=camp._id%>" method="post">
        <label for="com">Comment: </label><br>
    <textarea  name="com" id="com" id="" cols="50" rows="5"></textarea>
  <div class="btn"> <button type="submit" class=" btn-comment">Submit</button></div> 
    </form>
<%}%>
<link rel="stylesheet" href="/css/camp.css">
</div>

<%- include("./partials/footer")%>