<%- include("./partials/header")%>

<link rel="stylesheet" href="/css/campground.css">
<div class="container">
<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 10 }'>
 <%camp.forEach((camps)=>{%>
  
  <div class=" grid-item">
     
   <a href="/campground/<%=camps._id%>">
  
           <img src="<%=camps.url%>" alt="photo"> 
           <span class="title"><%=camps.place%></span>
           <div class="intro">
           <span class="creater">_<%=camps.user.username%></span>
            <span class="comment">comment: <%=camps.comment.length%></span></div>
          </a>
     
  </div>

 <%})%>
</div>
</div>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
<%- include("./partials/footer")%>


